@using PoeLeagueTracker.Client.Components.Icons
@inherits LayoutComponentBase
<PageTitle>Watcher's Eye</PageTitle>
<div class="page-container">
    <main>
        <article class="content-area">
            @Body
        </article>

        <footer class="third-party-notice">
            This product isn't affiliated with or endorsed by Grinding Gear Games in any way.
        </footer>
    </main>
</div>