DB_HOST=type_host_name	(IMPORTANT: if using docker container for database, put name of docker database service)
DB_PORT=type_port		(Postgresql standard is 5432)
DB_USER=type_username	(Sets username for database)
DB_PASS=type_password	(Sets password for database)
DB_NAME=type_db_name	(Sets name for database)