DB_HOST=type_host_name				(IMPORTANT: if using docker container for database, put name of docker database service)
DB_PORT=type_port					(Postgresql standard is 5432)
DB_USER=type_username				(Sets username for database)
DB_PASS=type_password				(Sets password for database)
DB_NAME=type_db_name				(Sets name for database)

ORIGIN_API_URL=type_URL				(API backend URL for production)
DEMO_ORIGIN_API_URL=type_URL		(API backend URL for demo)

DISCORD_WEBHOOK=type_webhook		(Part of webhook URL trailing ~/webhooks/)
DEMO_DISCORD_WEBHOOK=type_webhook	(Part of webhook URL trailing ~/webhooks/)

ACTIVE_LEAGUE=type_league			(Complete league name including whitespaces and (PLXXXXX))
DEMO_ACTIVE_LEAGUE=type_league		(Complete league name including whitespaces and (PLXXXXX))

JWT__Secret=super_secret_key		(32 char long string)
JWT__Issuer=name_of_issuer			(API project name for instance)
JWT__Audience=name_of_viewer		(Client project name for instance)
JWT__ExpiryMinutes=00				(Time in minutes before JWT token is void)