@using PoeLeagueTracker.Shared
@using PoeLeagueTracker.Shared.DTOs

<div class="stats-grid animate-fade-in">
<div class="stat-card">
    <div class="stat-header">
        <span class="stat-icon">📜</span>
        <h2 class="stat-title">The rerollers</h2>
    </div>

    <div class="stat-body">
            @foreach (var (account, index) in _topAccounts.Select((a, i) => (a, i)))
            {
                <div class="stat-row">
                    <div class="stat-info-left">
                        <span class="stat-rank highlight-gold">#@(index + 1)</span>
                        <div>
                            <div class="stat-account highlight-gold">@account.accountName</div>
                            <div class="stat-subtext">Highest level: @account.highestLevel</div>
                        </div>
                    </div>
                    <div class="stat-info-right">
                        <div class="stat-value">@account.totalCharacters</div>
                        <div class="stat-subtext">characters lvl 10+</div>
                    </div>
            </div>  
        }
    </div>
</div>
</div>
@code{
    [Parameter, EditorRequired]
    public required List<CharacterDto> characters { get; set; }

    private List<AccountStats> _topAccounts = [];

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        CalcTopAccounts();
    }

    private void CalcTopAccounts()
    {
        _topAccounts = characters
            .GroupBy(character => character.AccountName)
            .Select(group => new AccountStats(
                group.Key,
                group.Count(c => c.Level > 10),
                group.Max(c => c.Level)
        ))
            .OrderByDescending(account => account.totalCharacters)
            .Take(5)
            .ToList();
    }

    private record AccountStats(string accountName, int totalCharacters, int highestLevel);
}