@using PoeLeagueTracker.Shared
@using PoeLeagueTracker.Shared.DTOs

<div class="stats-grid animate-fade-in">
<div class="stat-card">
    <div class="stat-header">
        <span class="stat-icon">📜</span>
        <h2 class="stat-title">The graveyard</h2>
    </div>

    <div class="stat-body">
            @foreach (var (account, index) in _topAccounts.Select((a, i) => (a, i)))
            {
                <div class="stat-row">
                    <div class="stat-info-left">
                        <span class="stat-rank highlight-red">#@(index + 1)</span>
                        <div>
                            <div class="stat-account highlight-red">@account.accountName</div>
                        </div>
                    </div>
                    <div class="stat-info-right">
                        <div class="stat-value">@account.totalDeaths</div>
                            <div class="stat-subtext">Highest RIP: @* @account.highestDeath *@</div>
                    </div>
            </div>  
        }
    </div>
</div>
</div>
@code{
    [Parameter, EditorRequired]
    public required List<CharacterDto> characters { get; set; }

    private List<AccountStats> _topAccounts = [];

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        CalcTopAccounts();
    }

    private void CalcTopAccounts()
    {
        _topAccounts = characters
            .GroupBy(character => character.AccountName)
            .Select(group => new AccountStats(
                group.Key,
                group.Count(c => c.Dead == true)
                // group.Where(c => c.Dead == true).Max(c => c.Level)
        ))
            .OrderByDescending(account => account.totalDeaths)
            .Take(5)
            .ToList();
    }

    private record AccountStats(string accountName, int totalDeaths/* , int highestDeath */);
}