<div class="xp-container" title="@($"{Percentage}% Experience")">
    <div class="xp-bar-outer">
        <div class="xp-bar-inner" style="width: @(Percentage)%">
            <div class="xp-bar-glare"></div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Percentage { get; set; }
}